.swiperBox{
	height: 350upx;
}
	
.containBox{
	padding: 24upx 24upx 0;
	.menu{
		@include dflex(space-around,center);
		background: #FFD3C9;
		padding: 20upx 0;
		margin-bottom: 20upx;
		border-radius: 12upx;
		.item{
			@include dflex(center,center);
			flex-direction: column;
			font-size: 26upx;
			color: #3e3e3e;
			position: relative;
			.itemImg{
				width: 80upx;
				height: 80upx;
				margin-bottom: 10upx;
			}
			.menu-btn{
				width: 100%;
				height: 100%;
				position: absolute;
				left:0;
				top:0;
				opacity: 0;
			}
		}
	}
	
	.tZan{
			color:#333333;
			font-size: 34upx;
			font-weight: bold;
			@include dflex(center,center);
			margin: 20upx 0 35upx;
			.icon{
				width: 38upx;
				height: 36upx;
				margin-right: 12upx;
			}
	}
	
	.goodsList{
		padding-bottom: 30upx;
	}
	
}



