.swiperBox{
	height: 350upx;
}
	
.containBox{
	padding:0 24upx;
	.menu{
		@include dflex(space-around,center);
		// background: #FFD3C9;
		padding: 20upx 0;
		.item{
			@include dflex(center,center);
			flex-direction: column;
			font-size: 26upx;
			color: #3e3e3e;
			position: relative;
			.itemImg{
				// width: 80upx;
				width: 90upx;
				height: 90upx;
				margin-bottom: 10upx;
			}
			.menu-btn{
				width: 100%;
				height: 100%;
				position: absolute;
				left:0;
				top:0;
				opacity: 0;
			}
		}
	}
	
	.index-sort{
		@include dflex(space-between,null);
		flex-wrap: wrap;
		margin-top: 20upx;
		.sort-img{ 
			width: 332upx;
			height: 250upx;
			border-radius: 40upx;
			margin-bottom: 40upx; 
		}
	}
	
	.tZan{
		background: #fff;
		border-radius: 14upx;
		line-height: 80upx;
		@include dflex(center,center);
		margin: 0 0 30upx;
		.icon{
			width: 38upx;
			height: 36upx;
			margin-right: 12upx;
		}
		.tZan-txt{
			color:#333333;
			font-size: 38upx;
			font-weight: bold;
			position: relative;
			&:before, &::after {
				content: '';
				background: #FF3131;
				width: 130upx;
				height: 6upx;
				position: absolute;
				top: 50%;
				border-radius: 10upx;
			}
			&:before{
				left: -150upx;
			}
			&::after{
				right: -150upx;
			}
		}
	}
	
	.goodsList{
		padding:0 0 30upx;
	}
	
}



