$FILE_BASE_URL:'https://file.yuedongxixie.com/file';

//分页，下拉刷新，按aOrder userMan/roleMoney的来做
//siteManage 刷新当前页  
//详情页导航  地图搜索不行  全局加loading  
//微信支付：https://uniapp.dcloud.net.cn/tutorial/app-payment-weixin.html# 
//购物车禁止输入

// iphone开发者账号注册：https://blog.csdn.net/handsome0916/article/details/130267123
 
//暂无数据图片：
// https://file.yuedongxixie.com/file/f426289f-7fe0-4431-ab45-78262049c918.jpg
// https://file.yuedongxixie.com/file/3ee934e5-e364-4dad-9417-88a4776bfd87.png
// https://file.yuedongxixie.com/file/4fdba217-1bdf-44bf-a8dc-42bb196b432d.jpg

// <template>
//   <div>
//     <Tabbar>
//       <template v-slot:default>
//         <view>这里放入父组件中的内容 121211</view>
//       </template>
//     </Tabbar>
//   </div>
// </template>

// <!-- 
// 操作路径：
// 官微中心 - 设置 - 通知提醒 - 提醒用户，在列表中根据需求开启“公众号通知、小程序通知”，并且点击“设置模板”设置下通知信息模板。具体配置教程如下：
// 微信小程序通知配置教程：https://help.saaas.com/article/5161873096035032
// 公众号通知配置教程：http://help.saaas.com/article/5182346375528704 
// -->

//公用样式
page{
	height: 100%;
	background-color: #F7F7F7;
}

.overflow2{
	//两行省略号
	word-break: break-all;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
.overflow1{
	overflow: hidden;/*超出部分隐藏*/
	white-space: nowrap;/*不换行*/
	text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.overflow3{
	//3行省略号
	word-break: break-all;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}
.mask{
	background-color: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}
.centerAll{/*上下左右都居中*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	
@mixin dflex($justify,$align) {    //继承
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin dw($pos,$top,$right,$bottom,$left) {    //继承
  position: $pos;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

%psa5 {    //使用% 声明的代码块，如果不被@extend调用的话就不会被编译。编译出来的代码会将相同的代码合并在一起
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.ag{   //举例
  @extend %psa5;
  @include dflex(center,center);
  // @include dw($pos,$top,$right,$bottom,$left);
}

::-webkit-scrollbar {  //scroll-view 隐藏滚动条
    width: 0;
    height: 0;
    color: transparent;
}
/* .class类名(view)::-webkit-scrollbar {
	display: none;//去掉滚动条，不能滚动了；
	width: 0;//可以滚动，且滚动条不显示；
} */

.allBg{
	height: 100%;
	background-color: #F7F7F7;
}
.bgBox{
	height: 100%;
	background: #fff;
}

.bg{
  background: #F7F7F7;
  width: 100%;
  height: 100%;
  //position: absolute;
  position: fixed;
}

.whiteBg{ 
	background: #fff;
}

.w100{ width: 100%; }

.wh180{
	width: 100%;
	height: 180upx;
}

.flex{display: flex;}

.img28{
	width:28upx;
	height: 28upx;
	vertical-align: middle;
	margin-right: 6upx;
	margin-top: -4upx;
}
.icon28{
	width: auto;
	height: 28upx;
	vertical-align: middle;
	margin-right: 6upx;
	margin-top: -4upx;
}

.mt20{
	margin-top: 20upx;
}
.mb20{
	margin-bottom: 20upx;
}
.ml10{ margin-left: 10upx;}
.mr10{ margin-right: 10upx;}

.goTop{  //返回顶部
	border-radius: 100%;
	@include dw(fixed,null,28upx,186upx,null);
	z-index: 9;
	width: 80upx;
	height: 80upx;
	.goTop-img{
		width: 100%;
		height: 100%;
	}
}

// 导航栏
.uni-navbar--border /deep/{
	border:none!important;
}
.uni-nav-bar-text /deep/{
	font-size: 30upx!important;
}

//scroll-view自适应页面剩余高度
.flexBox{
	display: flex;
  flex-direction:column;
  height:100%;     /*高度必须指定*/
  overflow:hidden;
}
.boxScroll {
 flex: 1;
 overflow: scroll;   /*必须写这一条*/
 height: 1px;
}

.blackBg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 199;
}


// 商品列表
.goodsItem{
		@include dflex(flex-start,center);
		margin-bottom: 16upx;
		.goodsImg{
			width: 240upx;
			height: 240upx;
			margin-right: 24upx;
			border-radius: 10upx;
		}
		.goodsMsg{
			@include dflex(space-between,null);
			flex-direction: column;
			flex: 1;
			height: 240upx;
			padding: 10upx 0;
			box-sizing: border-box;
			.goodsMsg-top{
				h2{
					font-size: 32upx;
					font-weight: normal;
					margin-bottom: 6upx;
				}
				.goods-sal{
					font-size: 22upx;
					color: #666;
				}
			}
			
			.goodsMsg-foot{
				@include dflex(space-between,center);
				.foot-lf{
					font-size: 24upx;
					color: #FF3445;
					.big{
						font-size: 38upx;
					}
					.gray{
						color: #999;
						text-decoration: line-through;
						margin-left: 2upx
					}
				}
				.foot-rf{
					width: 60upx;
					height: 60upx;
				}
					
			}
		}
	}


//我的订单 订单详情
.ordre-item{
	@include dflex(space-between,null);
	margin-top: 30upx;
	.main-lt{
		width: 160upx;
		height: 160upx;
	}
	.item-mid{
		flex:1;
		margin-left: 20upx;
		p{
			color:#999;
			font-size: 26upx;
		}
		.mid-p{
			font-size: 28upx;
			color:#333;
			width: 320upx;
			line-height: 1.8;
		}
	}
	.main-rt{
		margin-top: 70upx;
		font-size: 24upx;
		color:#333;
	}
}
	
.image-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16upx; 
}
.image {
	width: 100%;
	height: auto;
}


// 商品详情-评价样式  全部评价
.pjItem{
	margin-top: 46upx;
	.item-top{
		@include dflex(space-between,center);
		.top-img{
			width: 60upx;
			height: 60upx;
			border-radius: 50%;
		}
		p{
			font-size: 26upx;
			color:#999;
			margin-left: 26upx;
		}
		.top-p{ 
			font-size: 28upx;
			color:#666; 
			flex:1; 
		}
	}
	.item-txt{
		font-size: 28upx;
		color:#333;
		margin: 26upx 0;
	}
	.item-gray{
		margin-top: 26upx;
		font-size: 26upx;
		color:#999;
	}
}

// 未选中圆
.circle{
	display: inline-block;
	width: 38upx;
	height: 38upx;
	background: #fff;
	border-radius: 50%;
	border:2upx solid #A2A19E;
}
.circle-red{
	background: url($FILE_BASE_URL + '/0fa127da-4393-411b-9955-5acf32efd066.png') center center no-repeat;
	background-size: 100% 100%;
	border-color: #fff;
}


// 个人信息
.perItem{
	margin-left: 20upx;
	padding-right: 20upx;
	border-bottom:2upx solid #F0F0F0;
	@include dflex(space-between,center);
	min-height: 100upx;
	.item-lt{
		font-size: 30upx;
		color:#333;
	}
	.item-rt{
		@include dflex(center,center);
		padding: 20upx 0;
		.rt-but{
			width: 100upx;
			height: 100upx;
			margin-right: 10upx;
			padding: 0;
			border: none;
			background: rgba(250, 231, 228, .4);
			border-radius: 50%;
		}
		.rt-img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		.rt-input{
			text-align: right;
			padding-right: 20upx;
		}
	}
}


//暂无数据
.noGood{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-80%);
	.noGood-img{
		width: 334upx;
		height: 147upx;
	}
	p{
		font-size: 30upx;
		color:#333333;
		text-align: center;
		margin-top: 15upx;
	}
}

// myOrder.vue aOrder.vue共用样式
.ordre-main{
	margin: 28upx;
	background: #fff;
	border-radius: 12upx;
	box-shadow: 0 2upx 2upx rgba(153, 153, 153, .3);
	padding: 0 28upx 28upx;
	.main-top{
		@include dflex(space-between,center);
		border-bottom: 2upx solid #E5E5E5;
		height: 70upx;
		.top-lt,.top-rt{
			color:#333;
			font-size: 26upx
		}
	}
	
	.phone{
		background: #F7F7F7;
		height: 70upx;
		@include dflex(null,center);
		color:#333;
		font-size: 26upx;
		padding-left: 30upx;
		.phone-sp{
			margin-left: 16upx;
		}
		.phone-tell{
			margin-left: 25upx;
			color:#446DFD;
		}
	}
	
	.main-price{
		@include dflex(flex-end,null);
		.price-p{
			margin-left: 30upx;
			font-size: 30upx;
			color:#333;
			span{
				font-size: 24upx;
				color:#999;
			}
		}
		
	}
	
	.mian-pay{
		@include dflex(flex-end,null);
		margin-top: 30upx;
		.pay-btn{
			@include dflex(center,center);
			width: 120upx;
			height: 60upx;
			font-size: 28upx;
			color:#333;
			border:2upx solid #E2E2E2;
			border-radius: 100upx;
			margin-left: 20upx;
			box-sizing: border-box;
		}
		.pay-fk{
			background: linear-gradient(270deg, #FF3445 0%, #FD4903 100%);
			color:#fff;
		}
	}
	
	.mian-cz{
		margin-top: 36upx;
		@include dflex(space-between,center);
		.cz-lt{
			position: relative;
			.lt-txt{
				color:#666;
				font-size: 26upx;
				width: 100upx;
			}
			.lt-more{
				position: absolute;
				left: 0;
				top: 50upx;
				background: #fff;
				box-shadow: 0 0 8upx rgba(0, 0, 0, .3);
				.more{
					width: 170upx;
					height: 60upx;
					padding-left: 20upx;
					line-height: 60upx;
				}
				&:before{
					content: '';
					position: absolute;
					top: -14upx;
					left: 20upx;
					width: 0;
					height: 0;
					
					//下三角
					border-bottom: 14upx solid rgba(0, 0, 0, .2);
					border-left:14upx solid transparent;
					border-right:14upx solid transparent; 
				}
			}
		}
		.cz-rt{
			@include dflex(null,center);
			.rt-btn,.rt-btn1{
				border-radius: 100upx;
				margin-left: 20upx;
				font-size: 26upx;
				padding: 4upx 14upx;
				color:#333;
				border:2upx solid #BBBBBB;
			}
			.rt-btn1{
				color:#446DFD;
				border-color: #446DFD;
			}
		}
	}
}

// 详情页-其他信息-备注,图片
.odBg{
	background: linear-gradient(180deg, #FD444C 0%, #F7F7F7 100%);
	height: 300upx;
	.od-zt{
		@include dflex(center,null);
		font-size: 32upx;
		color:#FFF;
		padding-top: 38upx;
	}
	.od-time{
		@include dflex(center,flex-start);
		margin-top: 10upx;
		text-align: center;
		font-size: 26upx;
		color:#FFF;
	}
}

.od-main{
	margin: 50upx 28upx 0;
	padding-bottom: 20upx;
	.odBox{
		background: #fff;
		border-radius: 16upx;
		padding: 0 26upx;
		margin-bottom: 26upx;
		
		.od-adr{
			@include dflex(null,null);
			border-bottom: 2upx solid #E2E2E2;
			padding: 30upx 0 26upx;
			.adr-rt{
				margin-left: 12upx;
				.rt-name{
					font-size: 28upx;
					color:#333;
					font-weight: bold;
					margin-bottom: 10upx;
					span{
						margin-left: 34upx;
					}
					.name-tell{
						margin-left: 25upx;
						color:#446DFD;
					}
				}
				p{
					font-size: 24upx;
					color:#999999;
				}
			}
		}
		
		.od-title{
			@include dflex(space-between,center);
			border-bottom: 2upx solid #E2E2E2;
			height: 96upx;
			.title-lt{
				font-size: 28upx;
				color:#333;
				font-weight: bold;
			}
			.title-rt{
				font-size: 26upx;
				color:#999;
			}
			&:last-child{ border:none}
		}
		
		.od-info{
			padding: 20upx 0;
			p{
				font-size: 28upx;
				color:#333;
				line-height: 1.8;
				@include dflex(space-between,center);
				span{
					width: 66upx;
					height: 30upx;
					text-align: center;
					line-height: 30upx;
					font-size: 24upx;
					color: #ff0000;
					padding: 1upx 5upx;
					border: 1px solid #ff0000;
					border-radius: 100upx;
					display: inline-block;
				}
			}
		}
		
		.od-price{
			margin-top: 30upx;
			border-top: 2upx solid #E2E2E2;
			border-bottom: 2upx solid #E2E2E2;
			padding: 14upx 0;
			p{
				font-size: 28upx;
				color:#333;
				line-height: 1.7;
				@include dflex(space-between,center);
			}
		}
		.od-allPrice{
			font-size: 30upx;
			color:#333;
			text-align: right;
			padding: 20upx 0;
			span{
				font-size: 28upx;
				color:#666;
				font-weight: bold;
			}
		}
	}
}

.od-qt{
	padding: 20upx 0;
	.qtBox{
		margin-bottom: 24upx;
		.qtBox-tt, .qtBox-txt{
			font-size: 28upx;
			color:#333;
			margin-bottom: 10upx;
			.tt-red{ color:red; }
		}
		.qtBox-txt{
			text-indent: 2em;
			.txt-ipt{
				margin: 20upx 30upx;
				font-size: 28upx;
				color:#333;
			}
		}			
	}
}
.od-btn{
	width: 70%;
	height: 44px;
	border-radius: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FD444C;
	font-size: 17px;
	color: #fff;
	margin: 0 auto 40upx;
}


//后台tab
.rod-mume{
	background: #fff;
	height: 100upx;
	border-bottom: 2upx solid #E2E2E2;
	@include dflex(space-around,center);
	position: relative;
	.mume-item{
		span{
			display: inline-block;
			font-size: 28upx;
			color:#333;
			height: 100%;
			line-height: 100upx;
		}
	}
	.mume-item-act{
		span{
			color:#446DFD;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2upx;
				background: #446DFD;
			}
		}
	}
}







