.order-top{
		position: relative;
		display: flex;
		background: #F7F7F7;
		.top-left{
			white-space: nowrap;
			width: 100%;
		}
		.topItem{
			height: 90upx;
			text-align: center;
			width: 140upx;
			display: inline-block;
			span{
				display: inline-block;
				color: #333333;
				font-size: 28upx;
				position: relative;
				height: 100%;
				line-height: 90upx;
			}
			.topItem-act{
				color:#FF3445;
				&:before{
					content:"";
					position:absolute;
					background:#FF3445;
					height:4upx;
					width:100%;
					left:0;
					bottom: 0;
				}
			}
			
		}
	}




