.gcBg{
	overflow: hidden;
}

.gc-btn{
	width: 60%;
	height: 90upx;
	text-align: center;
	line-height: 90upx;
	font-size: 34upx;
	color: #fff;
	background: red;
	border-radius: 14upx;
	letter-spacing: 4upx;
	
	position: relative;
	left: 50%;
	top:60%;
	transform: translate(-50%,-50%);
}
.gc-btnGray{
	background: #999;
}


.txt-foot{
	position: fixed;
	left: 0;bottom: 0;
	width: 100%;
	padding: 40upx 30upx;
	box-sizing: border-box;
	background: #fff;
	border-radius: 12upx 12upx 0 0;
	.foot-top{
		font-size: 32upx;
		font-weight: bold;
		color:#333;
		margin-bottom: 20upx;
	}
	.foot-p{
		font-size: 28upx;
		color:#666;
		margin-bottom: 10upx;
		span{
			color: #FF3445;
			font-weight: bold;
			padding: 0 6upx;
		}
	}
}