.sortBox{
	@include dflex(null,null);
	height:100%;
	.sortLt{
		background: #F7F7F7;
		height:100%;
		.ltItem{
			height: 96upx;
			width: 200upx;
			box-sizing: border-box;
			@include dflex(center,center);
			font-size: 30upx;
			color:#333;
		}
		.active{
			background: #fff;
			color: #FF3445;
			border-left: 8upx solid;
		}
	}
	
	.sortRt{
		flex: 1;
		.sortGoodBox{
			margin: 0 26upx;
			.goodsItem{
				border-bottom: 2upx solid #E2E2E2;
				padding-bottom: 20upx;
				margin-bottom: 20upx;
				.goodsImg{
					width: 200upx;
					height: 200upx;
				}
				.goodsMsg{
					height: 200upx;
					.goodsMsg-top{
						.top-h{
							font-size: 28upx;
						}
					}
					.goodsMsg-foot{
						.foot-lf{
							.big{
								font-size: 30upx;
							}
						}
					}
				}
			}
		}
	}
}
			