.aod-top{
	height: 90upx;
	background: #EFEFF4;
	@include dflex(space-between,center);
	padding: 0 36upx 0 26upx;
	.top-lt{
		background: #fff;
		border-radius: 100upx;
		text-align: center;
		font-size: 28upx;
		color:#999;
		width: 526upx;
		height: 56upx;
		line-height: 56upx;
	}
	.top-rt{
		font-size: 28upx;
		color:#446DFD;
		@include dflex(null,flex-end);
	}
}

.aod-mume{
	background: #fff;
	height: 100upx;
	border-bottom: 2upx solid #E2E2E2;
	@include dflex(space-around,center);
	position: relative;
	.mume-item{
		span{
			display: inline-block;
			font-size: 28upx;
			color:#333;
			height: 100%;
			line-height: 100upx;
		}
	}
	.mume-item-act{
		span{
			color:#446DFD;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2upx;
				background: #446DFD;
			}
		}
	}
	.mone-list{
		width: 250upx;
		background: #fff;
		position: absolute;
		top: 100upx;
		right: 20upx;
		z-index: 2;
		border: 2upx solid #E2E2E2;
		border-top: none;
		.list{
			height: 70upx;
			font-size: 28upx;
			@include dflex(center,center);
		}
	}
}


.aod-box{
	padding-bottom: 100upx;
}

//跟aOrderHistory.scss样式一样
.ordre-main{
	margin-bottom: 0;
	.main-top{
		padding: 10upx 0;
		border-bottom: none;
		.top-rt{
			color:#446DFD;
		}
	}
	.ordre-item{
		margin-top: 16upx;
	}
}