.stl-btn{
	margin: 20upx 26upx 0;
	border:2upx solid #CDCDCD;
	background: #fff;
	border-radius: 8upx;
	height: 76upx;
	font-size: 32upx;
	color:#333;
	@include dflex(center,center);
}

.stl-p{
	color:#999999;
	font-size: 26upx;
	padding: 10upx 30upx 0 36upx;
}

.stl-item{
	background: #fff;
	border-bottom:2upx solid #E2E2E2;
	@include dflex(space-between,center);
	padding: 28upx 28upx 34upx;
	.item-img{
		width: 140upx;
		height: 140upx;
		border-radius: 50%;
	}
	.item-mid{
		margin-left: 28upx;
		flex:1;
		.mid-t{
			color:#333;
			font-size: 32upx;
			margin-bottom: 6upx;
		}
		.mid-p{
			color:#666;
			font-size: 28upx;
		}
	}
	.item-rt{
		text-align: center;
		.rt-p{
			color:#999;
			font-size: 24upx;
		}
	}
}

