.cpon-top{
	@include dflex(space-around,center);
	box-shadow: 0 2upx 6upx rgba(0, 0, 0, .1);
	background: #fff;
	.top-item{
		width: 170upx;
		height: 90upx;
		@include dflex(center,center);
		font-size: 30upx;
		color:#333;
	}
	.top-red{
		color:#FD444C;
		position: relative;
		&:before{
			content:"";
			position:absolute;
			background:#FF3445;
			height:4upx;
			width:100%;
			left:0;
			bottom: 0;
		}
	}
}

.cponBox{
	margin: 0 24upx;
	.cponItem{		 
		height: 200upx;
		border-radius: 12upx;
		margin-top: 24upx;
		border:2upx solid #E9BACA;
		background: #FEEEF1;
		@include dflex(center,center);
		.item-lt{
			border-right: 2upx solid #B39A8B;
			padding-right: 35upx;
			p{
				font-size: 22upx;
				color:#333;
				text-align: center;
			}
			.lt-p{
				font-weight: bold;
				font-size: 40upx;
				span{
					font-size: 54upx;
				}
			}
		}
		.item-md{
			margin: 0 22upx;
			.md-t{
				font-size: 30upx;
				font-weight: bold;
				color:#622740;
				span{
					background: #FD7492;
					padding: 2upx 10upx;
					font-weight: normal;
					font-size: 22upx;
					color:#fff;
					border-radius: 100upx;
					margin-left: 10upx;
				}
			}
			.md-p{
				font-size: 22upx;
				color:#622740;
				margin-top: 10upx;
			}
		}
		.item-rt{
			@include dflex(center,center);
			width: 160upx;
			height: 60upx;
			font-size: 28upx;
			color:#fff;
			background:#FE5349;
			border-radius: 100upx;
		}
	}
}

.cponItem-no{
	.cponItem{
		filter: grayscale(100%);
	}
}

