.rmn-title{
	padding-left: 28upx;
	font-size: 34upx;
	color:#333;
	font-weight: bold;
	margin-top: 20upx;
}

.rmn-main{
	margin: 24upx;
}
.main-item {
	padding: 30upx;
	background: #ffffff;
	box-shadow: 0 4upx 8upx 0 rgba(0, 0, 0, 0.03);
	border-radius: 12upx;
	margin-bottom: 24upx;
	@include dflex(space-between,null);
	.item-lf {
		h3 {
			font-size: 32upx;
			font-weight: normal;
			color: #000;
			margin-bottom: 10upx;
		}
		p {
			font-size: 24upx;
			color: #333333;
			line-height: 1.7;
		}
	}
	.item-rf {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-shrink: 0;
		font-size: 30upx;
		.rf-p{
			text-align: right;
		}
		.rf-p2 {
			color: #333333;
			text-align: right;
			font-size: 28upx;
		}
	}
}