.adBox{
	padding: 30upx 26upx 140upx;
}

.ad-ban{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 0 20upx;
	background: #fff;
	padding: 30upx 0;
	border-radius: 14upx;
	
	.ban-item{
		text-align: center;
		.item-img{
			width: 80upx;
			height: 80upx;
		}
		.item-p{
			font-size: 26upx;
			color: #333;
		}
	}

}

.adWhite{
	border-radius: 14upx;
	background: #fff;
	margin-top: 30upx;
	padding-bottom: 1upx;
	.content{
		padding: 0 30upx 36upx;
	}
	
	.timeTab{
		display: grid;
		grid-template-columns: repeat(4,1fr);
		border:2upx solid #446DFD;
		border-radius: 100upx;
		height: 56upx;
		overflow: hidden;
		margin: 0 0 30upx;
		.tab{
			text-align: center;
			font-size: 26upx;
			color:#666666;
			line-height: 56upx;
		}
		.tab-act{
			background: #446DFD;
			color:#fff;
		}
	}
	
	.zdTab{
		.zd-item{
			@include dflex(null,center);
			margin-bottom: 18upx;
			.item-txt{
				font-size: 28upx;
				color:#333;
				width: 17%;
			}
			.item-btn{
				background: #409eff;
				font-size: 28upx;
				color:#fff;
				width: 130upx;
				height: 60upx;
				text-align: center;
				line-height: 60upx;
				border-radius: 8upx;
				margin-left: 12upx;
				margin-left: auto;
				margin-top: 10upx;
			}
		}
	}
	
	.numBox{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2, 130upx);
		gap:30upx 20upx ;
		.b-item{
			padding: 28upx 0 0 28upx;
			font-size: 26upx;
			color:#999999;
			.b-n{
				color:#597DFD;
				font-size: 42upx;
			}
		}
	}
}

