.addSpBg{
	padding-bottom: 10upx;
	height: auto;
}
.addSp-form{
	background: #fff;
	padding: 30upx 28upx;
	/deep/.uni-forms-item{
		.uni-forms-item__content{
			@include dflex(null,center);
		}
		.uni-stat__select{
			width: 400upx
		}
		.uni-forms-item__label{
			width: 150upx!important;
			font-size: 28upx;
			color:#333;
		}
		.uni-select__input-placeholder,.uni-select__input-text,.ipt{
			font-size: 28upx;
			color:#333;
		}
		
	}
}

.addSp-btn{
	@include dflex(center,center);
	margin: 80upx auto;
	.btn{
		background: #fff;
		border-radius: 100upx;
		width: 300upx;
		height: 80upx;
		text-align: center;
		line-height: 80upx;
		font-size: 30upx;
		color:#446DFD;
		margin: 0 20upx;
		border:2upx solid #446DFD;
	}
	.btn1{
		background: #446DFD;
		color:#fff;
	}
}