.rod-top{
	height: 100upx;
	background: #f7f7f7;
	@include dflex(space-between,center);
	padding: 0 34upx;
	border-bottom: 2upx solid #E2E2E2;
	.top-lt{
		background: #fff;
		border-radius: 100upx;
		width: 500upx;
		height: 64upx;
		@include dflex(space-between,center);
		padding-left: 24upx;
		box-sizing: border-box;
		.searchInput{
			font-size: 28upx;
			color:#333;
			width: 430upx;
		}
		.lt-right{
			padding:0 20upx;
			width: 36upx;
			height: 36upx;
		}
	}
	.top-rt{
		border-radius: 100upx;
		border:2upx solid #446DFD;
		font-size: 28upx;
		color:#446DFD;
		font-weight: bold;
		padding: 8upx 36upx;
	}
}

.tabBox{
	width: 400upx;
	border:2upx solid #446DFD;
	border-radius: 100upx;
	height: 56upx;
	margin: 26upx auto;
	@include dflex(null,null);
	overflow: hidden;
	.tab{
		width: 50%;
		text-align: center;
		font-size: 24upx;
		color:#666666;
		line-height: 56upx;
	}
	.tab-act{
		background: #446DFD;
		color:#fff;
	}
}

.ordre-main{
	.main-top{
		height: auto;
		padding: 20upx 0 14upx;
		.top-lt{
			.lt-p{
				color:#333;
				font-size: 26upx;
				margin-bottom: 6upx;
				.p-span{
					margin-left: 20upx;
					color:#446DFD;
					margin-right: 20upx;
				}
				.p-gray{
					padding: 2upx 12upx;
					background: #f5f5f5;
					font-size: 22upx;
					color:#666;
					margin-right: 10upx;
					border-radius: 6upx;
				}
				.p-blue{
					background: #446DFD;
					color:#fff;
				}
				.p-red{
					background: #ff5d5d;
					color:#fff;
				}
			}
		}
	}
}

