.back{
	width: 60upx;
	height: 60upx;
	position: fixed;
	left: 30upx;
	top: 16upx;
	z-index: 9;
}
	
.uni-padding-wrap{
	width:100%;
	height: 750upx;
	position: relative;
	.swiper{
		height: 100%;
		.swiperBox{
			width: 100%;
			height: 100%;
			.bannerImg{
				width: 100%;
				height: 100%;
			}
		}
	}
	.swiperMsg{
		z-index: 9;
		position: absolute;
		bottom:29upx;
		left:0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding:0 24upx;
		box-sizing: border-box;
		.numbox{
			width: 74upx;
			height: 42upx;
			background: url("../../static/img/pddetail1.png");
			background-size: 100% 100%;
			text-align: center;
			line-height: 42upx;
			font-size: 24upx;
			color:#fff
		}
		.picDowload{
			width: 109upx;
			height: 52upx;
		}
	}
}


.pdBox{
	background: #fff;
	border-radius: 12upx;
	margin: 26upx 26upx 0;
	padding: 22upx;
	.pd-price{
		color:#FD444C;
		font-size: 26upx;
		margin-bottom: 18upx;
		.big{ font-size: 42upx; font-weight: bold; }
		.gray{ 
			margin-left: 16upx;
			color:#ACB1B1; 
			text-decoration: line-through;
		}
	}
	.pd-title{
		@include dflex(space-between,center);
		color:#333;
		font-size: 32upx;
		span{
			font-size: 24upx;
			color:#ff0000
		}
	}
	.pd-sale{
		margin-top: 18upx;
		font-size: 24upx;
		color:#999999
	}

}

.pictureBox{
	margin-top: 26upx;
	padding-bottom: 162upx;
	.titleBox{
		background: #fff;
		padding:39upx 30upx 24upx 33upx;
		box-sizing: border-box;
		border-radius: 10upx 10upx 0 0;
		justify-content: space-between;
		.title{
			font-size: 32upx;
			color:#333;
		}
		.rightBox{
			font-size: 24upx;
			color: #666;
			align-items: center;
			.upBtn{
				width: 21upx;
				height: 12upx;
				margin-left: 7upx;
			}
			.upBtn-active{
				transform: rotate(-180deg); 
				-webkit-transform: rotate(-180deg);
			}
		}
	}
	.pictureList{
		.picture{
			width: 100%;
		}
	}
}
	
.btnBox{
	position: fixed;
	left:0;
	bottom: 0;
	width: 100%;
	height: 108upx;
	background: #fff;
	padding: 0 20upx;
	box-sizing: border-box;
	@include dflex(flex-end,center);
	
	.btn-lbox{
		font-size: 24upx;
		color: #4B4B4B;
		text-align: center;
		line-height: 1;
		width: 80upx;
		margin-right: auto;
		&:first-child{ width: 64upx;}
		.btnIcon{
			width: 50upx;
			height: 50upx;
		}
	}
	.bottomBtnBox{
		width: 270upx;
		height: 88upx;
		text-align: center;
		line-height: 87upx;
		font-size: 32upx;
		color: #fff;
		background: linear-gradient(290deg, #FF1B38 0%, #FF5900 100%);
		border-radius: 200upx;
	}

	.leftBtnBox{
		background: #FFD45E;
		position: relative;
		color: #000000;
		margin-right: 16upx;
	}
	.rightBtnBox{
		width: 345upx;
		background: linear-gradient(270deg, #FF9003 0%, #FF6A00 100%);
	}
}

.pd-tc{
	position: fixed;
	right: 60upx;
	bottom: 220upx;
	.tc-item{
		background: #fff;
		width: 60upx;
		height: 60upx;
		margin-bottom: 20upx;
		border-radius: 50%;
		position: relative;
		span{
			position: absolute;
			top: 0;
			right: -5upx;
			width: 28upx;
			height: 28upx;
			border-radius: 50%;
			background: #FD444C;
			font-size: 18upx;
			color:#fff;
			text-align: center;
			line-height: 27upx;
		}
	}
}

.share-pp{
	.pp-item{
		height: 100upx;
		@include dflex(center,center);
		color:#333;
		font-size: 32upx;
		position: relative;
		&:first-child{
			border-bottom: 2upx solid #EEEEEE;
		}
		.share-btn{
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	.pp-qx{
		border-top:20upx solid #F8F8F7;
	}
}

.hb-pp{
	width: 510upx;
	border-radius: 12upx;
	padding: 24upx 28upx 40upx;
	box-sizing: border-box;
	background: #fff;
	.hb-img{
		width: 100%;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	}
	.hbClose{
		position: absolute;
		top:-70upx;
		right: 0;
	}
	.hbtxt{
		width: 280upx;
		height: 60upx;
		@include dflex(center,center);
		font-size: 28upx;
		color:#fff;
		font-weight: bold;
		border: 2upx solid #fff;
		border-radius: 100upx;
		position: absolute;
		bottom:-100upx;
		left: 50%;
		transform: translateX(-50%);
		background: rgba(0, 0, 0, 0.1);
	}
}
