.mineBox{
	// background:#F7F7F7 url("../../static/img/mime1.jpg") no-repeat fixed;
	background: #F7F7F7 url($FILE_BASE_URL+'/20221207101526622') no-repeat fixed;
	background-size: 100%;
	height: 100%;
	
	.top{
		padding: 36upx 0 0 24upx;
		margin-bottom: 60upx;
		@include dflex(space-between,center);
		.top-lt{
			@include dflex(null,center);
			.headImg{
				width: 120upx;
				height: 120upx;
				border-radius: 50%;
				margin-right: 20upx;
			}
			.lt-p{
				font-size: 30upx;
				color:#666;
				border-radius: 100upx;
				border:2upx solid #999;
				padding: 10upx 25upx;
			}
			.lt-r{
				.r-name{
					font-size: 32upx;
					color:#333;
					margin-bottom: 8upx;
				}
				.r-phone{
					font-size: 26upx;
					color:#666;
				}
			}
		}
		
		.top-rt{
			padding-right: 26upx;
		}
	}
	
	.userCenterBox{
			background: #fff;
			padding:25upx 15upx 30upx 15upx;
			box-sizing: border-box;
			border-radius: 24upx;
			margin: 30upx 24upx 0;
			
			.titleBox{
				padding-left: 15upx;
				box-sizing: border-box;
				font-size: 32upx;
				color:#000;
				font-weight: bold;
				line-height: 32upx;
				padding-bottom: 20upx;
				border-bottom: 2upx solid #F0F0F0;
			}
			.box{
				flex-wrap: wrap;
				padding-top: 40upx;
				.itemBox{
					width: 25%;
					font-size: 28upx;
					color: #666;
					text-align: center;
					position: relative;
					margin-bottom: 22upx;
					.itemBox-btn{
						position: absolute;
						width: 100%;
						height: 70%;
						opacity: 0;
					}
					.itemIcon{
						width: 56upx;
						height: 56upx;
						margin-bottom: 20upx;
					}
				}
			}
		}

}


.log-pp{
	background: #fff;
	border-radius: 20upx 20upx 0 0;
	padding: 40upx 44upx 50upx;
	.log-title{
		font-size: 30upx;
		color:#333;
		font-weight: bold;
	}
	.log-sj{
		font-size: 26upx;
		color:#5A6A94;
		padding: 26upx 0 30upx;
	}
	.log-btn{
		@include dflex(center,center);
		height:76upx;
		font-size:28upx;
		color:#5A6AB0;
	}
	.log-yes{
		background: #EAF0FF;
		border-radius: 4upx;
		color:#3358D3;
	}
	
}

.index-popup{
	text-align: center;
	.indexPopup-img{
		width: 64upx;
		height: 64upx;
		margin-bottom: 20upx;
	}
	.indexPopup-p{
		font-size: 32upx;
		color: #333;
		margin: 0 auto;
		width: 76%;
	}
}
.popup-box{
	background: #fff;
	padding: 88upx 40upx 75upx;
	border-radius: 24upx;
	position: relative;
	.indexPopup-close{
		position: absolute;
		right: 10upx;
		top: 5upx;
		width: 60upx;
		height: 60upx;
		@include dflex(center,center);
		.close-img{
			width: 24upx;
			height: 24upx;
		}
	}
	.indexPopup-p{
		width: 63%;
		margin: 0 auto 35upx;
	}
	.indexPopup-btn{
		width: 100%;
		height: 90upx;
		text-align: center;
		line-height: 90upx;
		background: #1677FF;
		border-radius: 100upx;
		font-size: 32upx;
		color:#F0f0f0;
		background: linear-gradient(270deg, #FF5000 0%, #FF9000 100%);
	}
}