.asp-top{
	height: 90upx;
	background: #EFEFF4;
	@include dflex(space-between,center);
	padding: 0 36upx 0 26upx;
	.top-lt{
		background: #fff;
		border-radius: 100upx;
		width: 540upx;
		height: 56upx;
		@include dflex(space-between,center);
		padding: 0 24upx;
		box-sizing: border-box;
		.searchInput{
			font-size: 28upx;
			color:#333;
			width: 440upx;
		}
		.lt-right{
			width: 36upx;
			height: 36upx;
		}
	}
	.top-serch{
		border-radius: 100upx;
		border:2upx solid #446DFD;
		font-size: 28upx;
		color:#446DFD;
		font-weight: bold;
		padding: 6upx 30upx;
	}
}

.user-main{
	padding: 24upx;
	.main-item{
		border-radius: 12upx;
		background: #fff;
		padding: 20upx;
		margin-bottom: 20upx;
		.item-top{
			@include dflex(space-between,null);
			.top-img{
				width: 100upx;
				height: 100upx;
			}
			.top-mid{
				margin-left: 20upx;
				flex: 1;
				.mid-name{
					font-size: 28upx;
					color:#333;
					margin-bottom: 8upx;
					.n-g{
						font-size: 26upx;
						color:#999;
						margin-left: 14upx;
					}
				}
				.mid-p{
					max-width: 450upx;
					font-size: 26upx;
					color:#666;
					span{
						font-size: 24upx;
					}
				}
			}
			.top-rt{
				height: 100upx;
				@include dflex(space-between,null);
				flex-direction: column;
				flex-shrink: 0;
				.rt-gray{
					font-size: 24upx;
					background: #cdcdcd;
					color:#666;
					padding:4upx 10upx;
					border-radius: 2upx;
				}
				.rt-blue{
					background: #E5F2FF;
					color:#0083FF;
				}
				.rt-red{
					background: #ffd2d2;
					color: #e32121;
				}
				.rt-mon{
					font-size: 36upx;
					color: #FF3445;
					
					span{
						font-size: 30upx;
						letter-spacing: -4upx;
					}
				}
				
			}
		}
		
		.item-btn{
			margin-top: 26upx;
			@include dflex(flex-end,center);
			.btn{
				border:2upx solid #E2E2E2;
				border-radius: 100upx;
				font-size: 28upx;
				color:#333;
				padding: 6upx 30upx;
				margin-left: 20upx;
			}
		}
	}
}


