.about{
	padding: 30upx 24upx;
	box-sizing: border-box;
	.about-img{
		display: block;
		margin: 0 auto 30upx;
		width: 500upx;
		height: 400upx;
	}
	p{
		font-size: 28upx;
		color:#333;
		margin-bottom: 5upx;
	}
	.about-p{
		line-height: 1.7;
		margin-bottom: 10upx;
		text-indent: 2em;
		span{
			font-weight: bold;
		}
	}
}