.rInfo-fileImg{
	padding: 0 28upx ;
	@include dflex(null,center);
	.fileImg-lt{
		width: 150upx;
		font-size: 28upx;
		color:#333;
	}
	.fileImg-rt{
		flex: 1;
		border-bottom: 2upx solid #E2E2E2;
		padding: 26upx;
	}
}