.sadBox{
	padding: 26upx;
	.sad-main{
		background: #fff;
		border-radius: 16upx;
		.m-item{
			@include dflex(null,center);
			padding: 0 28upx ;
			.item-lt{
				width: 150upx;
				font-size: 28upx;
				color:#333;
			}
			.item-rt{
				@include dflex(space-between,center);
				border-bottom: 2upx solid #E2E2E2;
				height: 96upx;
				flex: 1;
				.rt-input{
					font-size: 28upx;
					color:#333;
					width: 100%;
				}
				.rt-dz{
					font-size: 28upx;
					color:#333;
				}
				.rt-gray{ color:#666; }
			}
			&:last-child{
				.item-rt{
					border:none;
				}
			}
		}
	}
	
	.sad-btn{
		@include dflex(center,center);
		width: 100%;
		height: 80upx;
		background: #FD444C;
		border-radius: 100upx;
		margin-top: 150upx;
		font-size: 30upx;
		color:#fff;
	}
}
	