.sadBox{
	padding: 26upx;
	.sad-main{
		background: #fff;
		border-radius: 16upx;
		.m-item{
			@include dflex(null,center);
			padding: 0 28upx ;
			.item-lt{
				width: 150upx;
				font-size: 28upx;
				color:#333;
			}
			.item-rt{
				@include dflex(space-between,center);
				border-bottom: 2upx solid #E2E2E2;
				height: 96upx;
				flex: 1;
				.rt-input{
					font-size: 28upx;
					color:#333;
					width: 100%;
				}
				.rt-dz{
					font-size: 28upx;
					color:#333;
				}
				.rt-gray{ color:#666; }
			}
			&:last-child{
				.item-rt{
					border:none;
				}
			}
		}
	}
	
	.sad-btn{
		@include dflex(center,center);
		width: 100%;
		height: 80upx;
		background: #FD444C;
		border-radius: 100upx;
		margin-top: 150upx;
		font-size: 30upx;
		color:#fff;
	}
}
		// <view class="sadBox">
		// 	<view class="sad-main">
		// 		<view class="m-item">
		// 			<view class="item-lt">收货人</view>
		// 			<view class="item-rt"><input type="text" v-model.trim="name" class="rt-input" placeholder="请输入姓名" maxlength="8"/></view>
		// 		</view>
		// 		<view class="m-item">
		// 			<view class="item-lt">联系电话</view>
		// 			<view class="item-rt"><input type="number" v-model.trim="phone" class="rt-input" placeholder="请输入手机号" maxlength="11"/></view>
		// 		</view>
		// 		<view class="m-item">
		// 			<view class="item-lt">定位地址</view>
		// 			<view class="item-rt">
		// 				<view class="rt-dz">{{addr?addr:'点击此处进行定位'}}</view>
		// 				<uni-icons type="right" size="30rpx" color="#E5E5E5"></uni-icons>
		// 			</view>
		// 		</view>
		// 		<view class="m-item">
		// 			<view class="item-lt">门牌号</view>
		// 			<view class="item-rt"><input type="number" v-model.trim="houseNum" class="rt-input" placeholder="请输入具体门牌号以便配送" maxlength="11"/></view>
		// 		</view>
		// 	</view>
		// 	<view class="sad-btn">保存地址</view>
		// </view>